body {
    margin: 0;
    font-family: "Source Sans 3", sans-serif;
}

.container{
    box-sizing: border-box;
    width: 375px;
    margin:0 auto;
    border:1px solid black;
    padding: 15px;
}

/*header style*/
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom:1px solid gray ;
}

.logo{
    width:127px;
}

.avatar{
    width: 34px;
    height: 34px;
    border-radius: 50%;

}

/*main section-1*/
.credentials img{
    float: left;
}

h3{
    margin:0;
    padding-left: 50px;
    font-size: 16px;

}

.credentials p{
    margin:0;
    padding-left: 50px;
    font-size: 15px;
    margin-top: -7px;
}

/*section 2*/
.post{
    padding: 0;
}

.postcontent{
    width: 100%;
}

/*section 3*/
.interaction{
    display: flex;
    gap:11px
}
.interaction img{
    width: 23px;
    /* border:1px solid black; */
}

/*section 4*/
.output{
    font-size: 16px;
    font-weight: 700;
    padding-top:0;
}

.likes{
    margin: 0;
}

.comment{
    font-weight: 400;
}

.last-para{
    margin: 0;
}


