body {
    margin: 0;
    font-family: "Source Sans 3", sans-serif;
}

.container{
    box-sizing: border-box;
    width: 375px;
    margin:0 auto;
    /* border:1px solid black; */
    padding: 15px;
}

/*typography*/
h3,.credentials p{
    margin:0;
    padding-left: 50px;
}

h3{
    font-size: 16px;
}

.credentials p{
    font-size: 15px;
    margin-top: -7px;
}

/*header style*/
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom:1px solid gray ;
}

.logo{
    width:127px;
}

.avatar{
    width: 34px;
    height: 34px;
    border-radius: 50%;
}

/*main*/
/* section-credentials*/
.credentials img{
    float: left;
}

/*section post*/
.post{
    padding: 0;
}

.postcontent{
    width: 100%;
}

/*section interaction*/
.interaction{
    display: flex;
    gap:2px;
}

.icon{
    display: inline-block;
    background-color: #fff;
    border: none;
}

.icon img{
    width: 23px;
}

.icon:hover,
.icon:focus{
    opacity:0.6 ;
}

/*section output*/
.output{
    font-size: 16px;
    font-weight: 700;
    padding-top:0;
}

.likes,.last-para{
    margin: 0;
}

.comment{
    font-weight: 400;
}
